<h1>Detail Info about <%= @role.name %></h1>
<img src = <%= @role.img_url %> alt = "#{@role.name}'s poster" width = "300" height = "450"><br>

<h2>Info:</h2>
<p>Personality trait: <%= @role.personality_trait %></p><br>




</ul><br><br><br>

<%= button_to "Return", movie_path, :method => "get" %><br>


